.about{
    margin: 1rem 14rem;
    margin-top: 4rem;
}
.about-wrapper{
    display: flex;
    align-items: center;
    text-align: left;
    /* color:#befab1e7 */
}
.content{
    margin: 2rem;
}
.para{
    margin: 1.2rem 0;
}
.para p{
    margin: 0.5rem 0;
}
.logo img{
    border: none;
    border-radius: 10px;
    display: block;
    height: 20rem; 
    width: auto;
}
.heading div{
    font-size:20px;
    font-weight:500;
    margin: 0.7rem 0;
}

.logo{
    margin: 2rem;
}

.socials{
    display: flex;
    align-items: center;
}
.social-link{
    margin: 3px;
}
.social-link:hover{ transform: scale(1.2); 
}
.icon:hover{
    color: red;
}
.subheading{
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    margin: 2px;
  }
  @media screen and (max-width: 768px) {

  }

