.about{
    margin: 1rem 12rem;
    margin-top: 3rem;
}
.about-wrapper{
    display: flex;
    align-items: center;
    text-align: left;
    /* color:#befab1e7 */
}
.logo img{
    border: none;
    border-radius: 10px;
    display: block;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 23rem; 
    width: auto;
}
.heading div{
    font-size:20px;
    font-weight:500;
    margin: 0.7rem 0;
}

.logo{
    margin: 2rem;
}

.socials{
    display: flex;
    align-items: center;
}
.social-link{
    margin: 3px;
}
.social-link:hover{ transform: scale(1.2); 
}
.icon:hover{
    color: red;
}
.subheading{
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    margin: 2px;
  }
