.App {
  text-align: center;
  /* background-color: #FFD1E3;
background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  padding: 3px; */
}
.top-btn-position{
  position: fixed;
  bottom: 30px;
  right: 60px;
}

.top-btn-style {
  height: 30px;
  width: 30px;
  padding: 3px;
  border-radius: 50%;
  border: 3px solid #333;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  color: #fbdefd;

}

.top-btn-style:hover {
  background-color: rgb(82, 80, 80);
  color: #fff;
  border: 2px solid #fff;
}
.heading{
  font-size: 25px;
  font-weight: 700;
  text-align: left;
}
